*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: black;
    }

    .tile {
        --tile-color: #161616;
        --tile-border-color: #5a5a5a;
    }

    .tile.active {
        --saturation: 80%;
        --letter-color: #a8201a;
        --letter-border-color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --background-color: white;
    }

    .tile {
        --tile-color: white;
        --tile-border-color: #5a5a5a;
    }

    .tile.active {
        --saturation: 100%;
        --letter-color: #a8201a;
        --letter-border-color: black;
    }
}

body {
    background-color: var(--background-color);
}

.grid {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-evenly;
}

.tile {
    display: inline-block;
    background-color: var(--tile-color);
    border: solid 1px var(--tile-border-color);
    border-radius: 10%;
    aspect-ratio: 1 / 1;
    perspective: 500px;

    transition: background-color 0.5s, transform 0.5s;
    transform-style: preserve-3d;
}

.tile.active {
    filter: saturate(var(--saturation));
    background-color: var(--letter-color);
    border: dotted 3px var(--letter-border-color);
}

.tile:hover {
    transform: rotateY(180deg);
}
